@font-face {
	font-family: Roboto;
	src: url('./assets/Roboto-Regular.ttf');
}

@font-face {
	font-family: Lobster;
	src: url('./assets/Lobster-Regular.ttf');
}

#root {
	text-align: center;
	font-family: Roboto;
}

header {
	width: 100%;
	border-bottom: 2px solid Coral;
	display: table;
}

header #ufrgs-logo {
	width: 7vw;
	display: table-cell;
	margin: 0.5em 2em;
}

header p {
	position: absolute;
	top: 0;
	left:  50vw;
	transform: translateX(-50%);
	font-size: 30pt;
	font-family: Lobster;
	text-decoration: underline;
}

#sec-container {
	display: table;
	margin: 5em auto 0;
	border-spacing: 1.8em 0;
}

section {
	display: table-cell;
	padding: 3.5em;
	border-radius: 1.5em;
	width: 17em;
	box-shadow: 0px 0px 7px gray;
}

#sec-inputs {background-color: rgba(255, 141, 0, 0.2);}

#sec-results {
	height: 100%;
	background-color: rgba(200, 180, 50, 0.2);
}

#i3-display {
	font-size: 50pt;
	margin: 2.5em 0;
	text-shadow: 0 0 4px black;
	-webkit-text-stroke: 1px gray;
}

#botao-limpar {
	position: fixed;
	bottom: 10%;
	right: 5%;
	padding: 1.6em;
}

.blank {
	height: 10vh;
}
